/* Color Palette
Dark Blue: #22223A
Bright Blue: 0049FF
yellow: #FFB600*/

/* * {
    border: 1px dotted white;
} */

body, html {
    background-color: white;
    color: black;
    overflow: auto;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
}

nav {
    background-color: #22223A;
}

.jumbotron {
    margin-top:0;
    position: relative;
    color: white;
}

.tinted-image {
    background-image: url("../images/");
    background:
    linear-gradient(
    rgba(34, 34, 58, 1), 
    rgba(34, 34, 58, 0.6)
    ),
    url("../images/bg_keyboard5.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.display-1{
    color: #FFB600;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}



a {
    color: #FFB600;
}

a:hover{
    color: white;
    text-decoration: none;
}

.card {
    margin: 0.25em;
}

.main {
    position: relative;
}

.fab{
    color: #FFB600;
    font-size: 3em;
    margin: .25em;
}

.fab:hover{
    color: white;
}

footer {
    background-color: black;
    border-top: 1px solid white;
    margin-top: 2em;
}

.footer-text {
    margin-top: .6em;
    color: #FFB600;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #22223A; 
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #22224A; 
 }